.marge {
  margin-top: 1%
}

.chart-container {
  width: 600px;
  height:600px;
}

#myChart {
  float: left;
  padding: 5px 10px;
  margin-right: 10px;
  max-width: 400px;
  max-height: 400px;

}

#myChart2 {
  float: left;
  padding: 5px 10px;
  margin-right: 10px;
  max-width: 400px;
  max-height: 400px;

}
#myChart3 {
  float: left;
  padding: 5px 10px;
  margin-right: 10px;
  max-width: 400px;
  max-height: 400px;

}
.user-data{
  float:left;
   clear: left;

}

.remove-user-data{
  float:left;
   clear: left;

}
